<%- include ./part/header.ejs %>

<% const mov = movie.results[0] %>

<% if (mov.poster_path === null) { %>
	<% mov.poster_path = '/21YM9C8AyFm0ANuuWxuZYZMFwDL.jpg' %>
<% } %>

<section class="zoom">
	<img src="http://image.tmdb.org/t/p/w342/<%= mov.poster_path %>" />
	<article>
		<h1><%= mov.title %></h1>
		<p>Score:<span> <%= mov.vote_average %></span></p>
		<p><%= mov.overview %></p>
		<a href="/results/<%= value %>">back</a>
	</article>
</section>

<%- include ./part/footer.ejs %>
