<%- include ./part/header.ejs %>

<% const mov = movie.results[0] %>

<a href="/">back</a>

<article>
	<img src="http://image.tmdb.org/t/p/w342/<%= mov.poster_path %>" />
	<h1><%= mov.title %></h1>
	<p>Score: <%= mov.vote_average %></p>
	<p>Description: <%= mov.overview %></p>
</article>


<script src="/js/script.js"></script>
<%- include ./part/footer.ejs %>
